<div
  [formGroup]="fg"
  class="flex flex-col justify-center items-center w-full text-center gap-10 p-2"
>
  <h1 class="heading">What did you think of this page?</h1>
  <rating formControlName="rating" [disabled]="isDisabled"></rating>
  <p class="desc">
    What can we do to improve it? Please be as detailed as you like. Real human
    beings read every single review.
  </p>
 
  <div class="input">
    <textarea
        formControlName="comment"
      name="review"
      id=""
      placeholder="this section is required  ✍️"
      cols="30"
      rows="10"
    ></textarea>
  </div>
  <div class="flex flex-row justify-end w-full button">
    <button class="send" (click)="addReview()" [disabled]="fg.invalid">Send your review!</button>
  </div>
</div>

<div  class ='flex flex-row justify-center w-full' style="padding-bottom: 100px;">
  <div *ngIf="message" >
    <ng-container  *ngIf="(message.graphQLErrors && message.graphQLErrors.length != 0 && message.graphQLErrors[0].message);">
      <div class="text-center warn">
        {{message.graphQLErrors[0].message}}
      </div>
    </ng-container>
   
    <div *ngIf="message.data">
      Thank you for your review. It matters.
    </div>

    </div>
  </div>

