:host{
    font-family: var(--font-family);

    --ifm-global-shadow-lw: 0px 2px 6px #0003;
}
h1,h2,h3,h4,h5,p{
    margin: 0px;
    padding:0px;
}

.reviews{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.reviews>*{
    padding: 10px;
}
.heading{
    font-size: 20px;
}

.desc{
    font-size: 12px;
}
textarea {
    border: none;
    border-radius: 6px;
    box-shadow: var(--ifm-global-shadow-lw);
    color: var(--color-gray-74);
    font-family: var(--ifm-font-family-base);
    font-size: 1.1rem;
    margin-top: 1rem;
    padding: 0.75rem;
    outline:none;
    display: flex;
    box-sizing: border-box;
    width: 100%;
   
}
.input,.button{
   
    width: 100%;
    box-sizing: border-box;
}
.send{
    background-color: #BEC3C8;
    padding: 12px 8px;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    outline:0px;
    border:0px;
    cursor: pointer;
}
@media (max-width: 500px) {
    .input{
    padding: 5px !important;
    }
    
}
.gap-10{
    gap: 10px;
}
.p-2{
    box-sizing: border-box;
    padding: 30px 10px;
}
button:disabled{
    cursor:not-allowed;
}
.warn{
    color: #D60024;
}