&nbsp;
h1,h2,h3,p,div<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;padding:0px;
&nbsp;&nbsp;&nbsp;&nbsp;margin:0px;
&nbsp;&nbsp;&nbsp;&nbsp;font-family:&nbsp;medium-content-sans-serif-font,&nbsp;"Lucida&nbsp;Grande",&nbsp;"Lucida&nbsp;Sans&nbsp;Unicode",&nbsp;"Lucida&nbsp;Sans",&nbsp;Geneva,&nbsp;Arial,&nbsp;sans-serif;;
<span>&#125;</span>
h1<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;font-size:&nbsp;18px&nbsp;!important;
<span>&#125;</span>
.cost<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;font-weight:&nbsp;800;
&nbsp;&nbsp;&nbsp;&nbsp;font-size:&nbsp;17px;
<span>&#125;</span>
.flex<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;display:flex;
<span>&#125;</span>
.flex-row<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;flex-direction:row;
<span>&#125;</span>
.flex-col<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;flex-direction:&nbsp;column;
<span>&#125;</span>
.relative<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;position:relative;
<span>&#125;</span>
.hidden<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;none;
<span>&#125;</span>
.flex-wrap<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;flex-wrap:&nbsp;wrap;
<span>&#125;</span>
.mx-auto<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;margin-left:&nbsp;auto;
&nbsp;&nbsp;&nbsp;&nbsp;margin-right:&nbsp;auto;
<span>&#125;</span>
.justify-between<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;justify-content:&nbsp;space-between;
<span>&#125;</span>
.items-center<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;align-items:center;
&nbsp;&nbsp;&nbsp;&nbsp;padding:&nbsp;6px&nbsp;2px;

<span>&#125;</span>
.overflow-hidden<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;overflow:hidden;
<span>&#125;</span>
@media&nbsp;(max-width:&nbsp;640px)<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;
<span>&#125;</span>
@media&nbsp;(max-width:&nbsp;640px)<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;.sm\:flex-col&nbsp;<span>&#123;</span>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;flex-direction:&nbsp;column&nbsp;!important;
&nbsp;&nbsp;&nbsp;&nbsp;<span>&#125;</span>
&nbsp;&nbsp;&nbsp;&nbsp;.sm\:w-full<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;100%&nbsp;!important;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;bottom:&nbsp;0&nbsp;!important;
&nbsp;&nbsp;&nbsp;&nbsp;<span>&#125;</span>
&nbsp;&nbsp;&nbsp;&nbsp;.sm\:hidden<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;none&nbsp;!important;
&nbsp;&nbsp;&nbsp;&nbsp;<span>&#125;</span>
&nbsp;&nbsp;&nbsp;&nbsp;.sm\:visible<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;flex&nbsp;!important;
&nbsp;&nbsp;&nbsp;&nbsp;<span>&#125;</span>

&nbsp;&nbsp;&nbsp;&nbsp;.sm\:rounded<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;border-top-left-radius:&nbsp;10px;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;border-top-right-radius:&nbsp;10px;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;border-bottom-left-radius:&nbsp;0px&nbsp;!important;
&nbsp;&nbsp;&nbsp;&nbsp;<span>&#125;</span>

<span>&#125;</span>
ul<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;text-decoration:&nbsp;none;
&nbsp;&nbsp;&nbsp;&nbsp;list-style:&nbsp;none;
&nbsp;&nbsp;&nbsp;&nbsp;list-style-type:&nbsp;none;
&nbsp;&nbsp;&nbsp;&nbsp;margin:&nbsp;0px&nbsp;!important;
&nbsp;&nbsp;&nbsp;&nbsp;padding:&nbsp;0px&nbsp;!important;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span>&#125;</span>
li<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;padding:&nbsp;10px&nbsp;12px;
&nbsp;&nbsp;&nbsp;&nbsp;border:&nbsp;1px&nbsp;solid&nbsp;#dadeda;
&nbsp;&nbsp;&nbsp;&nbsp;border-radius:&nbsp;8px;
&nbsp;&nbsp;&nbsp;&nbsp;font-weight:&nbsp;800;
&nbsp;&nbsp;&nbsp;&nbsp;cursor:pointer;
<span>&#125;</span>
hr<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;100%;
&nbsp;&nbsp;&nbsp;&nbsp;border:&nbsp;0.2px&nbsp;solid&nbsp;#dadeda;
<span>&#125;</span>
.rounded<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;border-top-left-radius:&nbsp;10px;
&nbsp;&nbsp;&nbsp;&nbsp;border-bottom-left-radius:&nbsp;10px;
<span>&#125;</span>
button<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;outline:none;
&nbsp;&nbsp;&nbsp;&nbsp;border:&nbsp;1px&nbsp;solid&nbsp;#dadeda;
&nbsp;&nbsp;&nbsp;&nbsp;font-weight:&nbsp;900;
&nbsp;&nbsp;&nbsp;&nbsp;border-radius:&nbsp;10px;
&nbsp;&nbsp;&nbsp;&nbsp;user-select:&nbsp;none;
&nbsp;&nbsp;&nbsp;&nbsp;cursor:&nbsp;pointer;
&nbsp;&nbsp;&nbsp;&nbsp;padding:&nbsp;10px&nbsp;20px;
<span>&#125;</span>
.text-white<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#FFF;
<span>&#125;</span>
.text-black<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#000;
<span>&#125;</span>
.bg-black<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;background-color:&nbsp;#000;
<span>&#125;</span>
.bg-white<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;background-color:&nbsp;#FFF;
<span>&#125;</span>
.hidden<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;none;
<span>&#125;</span>
.visible<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;flex;
<span>&#125;</span>

.w<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;10px;
<span>&#125;</span>
.h<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;10px;
<span>&#125;</span>
.flex-auto<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;flex:&nbsp;1&nbsp;1&nbsp;auto;
<span>&#125;</span>
.overflow-auto<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;overflow:&nbsp;auto;
<span>&#125;</span>
span<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;inline;
<span>&#125;</span>
.icon<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;width:24px;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;24px;
&nbsp;&nbsp;&nbsp;&nbsp;padding:5px;
&nbsp;&nbsp;&nbsp;&nbsp;border-radius:&nbsp;10px;;
<span>&#125;</span>
.code-icon<span>&#123;</span>
&nbsp;&nbsp;&nbsp;&nbsp;position:absolute;
&nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;flex;
&nbsp;&nbsp;&nbsp;&nbsp;justify-content:&nbsp;center;
&nbsp;&nbsp;&nbsp;&nbsp;align-items:&nbsp;center;
&nbsp;&nbsp;&nbsp;&nbsp;z-index:&nbsp;3;
&nbsp;&nbsp;&nbsp;&nbsp;background-color:&nbsp;transparent;
&nbsp;&nbsp;&nbsp;&nbsp;left:0;
&nbsp;&nbsp;&nbsp;&nbsp;right:0;
&nbsp;&nbsp;&nbsp;&nbsp;top:0;
&nbsp;&nbsp;&nbsp;&nbsp;bottom:&nbsp;0;
<span>&#125;</span>
