<div class="flex flex-col justify-between intro-header">
  <div class="flex flex-row justify-start items-start profile">
    <div>
      <img
        src="../assets/profile-image.jpeg"
        height="80px"
        width="auto"
        style="border-radius: 50%"
      />
    </div>
    <div class="name">
      <h1>Kamal mohan singh rana</h1>
      <p>java fullstack developer</p>
    </div>
  </div>
  <nav class="flex flex-row justify-between items-start">
    <div class="flex flex-row contact-me">
      <a href="https://facebook.com/kamalrana03">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24px"
          height="24px"
          fill="currentColor"
          viewBox="38.657999999999994 12.828 207.085 207.085"
        >
          <path
            d="M158.232 219.912v-94.461h31.707l4.747-36.813h-36.454V65.134c0-10.658 2.96-17.922 18.245-17.922l19.494-.009V14.278c-3.373-.447-14.944-1.449-28.406-1.449-28.106 0-47.348 17.155-47.348 48.661v27.149H88.428v36.813h31.788v94.461l38.016-.001z"
          />
        </svg>
      </a>
      <a href="https://api.whatsapp.com/send/?phone=918376857964&text=hi">
        <img src="../../../assets/whatsapp.png" height="25px" width="auto">
      </a>
     
    </div>
    <div>
      <a
        aria-label="kamal rana on linked in"
        target="_blank"
        rel="noopener"
        href="https://www.linkedin.com/in/kamal-mohan-singh-rana-27075912a/"
        title="LinkedIn"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 21"
          data-supported-dps="24x24"
          fill="currentColor"
          class="mercado-match"
          width="24"
          height="30"
          focusable="false"
        >
          <path
            d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"
          ></path>
        </svg>
      </a>
    </div>
  </nav>
</div>
<section class="flex flex-col justify-start section-1">
  <div class="flex flex-row office w-full">
    <div class="flex w-full img"></div>
    <div class="flex w-full flex-col detail">
      <h1>Currently working in Onelap Telematics private ltd.</h1>
      <p>
        I am a java full stack developer. I have used framewok sping and angular
        for development of Web application...
      </p>
      <div class="flex flex-row justify-start thumb">
        <div>
          <img
            class="rounded-full"
            src="../../../assets/profile-image.jpeg"
            width="40px"
            height="auto"
          />
        </div>
        <div class="flex flex-col thumb-detail">
          <h3>Kamal mohan singh rana</h3>
          <div class="text-normal">
            <time datetime="2023-02-07T21:49:19.398Z">Feb 7, 2023</time>
            <span class="dot"></span>
            <span class="readingTime" title="10 min read"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-row features">
    <div class="flex flex-col front-end w-full">
      <div class="flex w-full img"></div>
      <div class="flex w-full flex-col detail">
        <h1>2+ years of experience working with frontend framework like Angular2+</h1>
        <p></p>
        <div class="flex flex-row justify-start thumb">
            <div>
              <img
                class="rounded-full"
                src="../../../assets/profile-image.jpeg"
                width="40px"
                height="auto"
              />
            </div>
            <div class="flex flex-col thumb-detail">
              <h3>Kamal mohan singh rana</h3>
              <div class="text-normal">
                <time datetime="2023-02-08T21:49:19.398Z">Feb 8, 2023</time>
                <span class="dot"></span>
                <span class="readingTime" title="2 min read"></span>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col backend w-full">
      <div class="flex w-full img"></div>
      <div class="flex w-full flex-col detail">
        <h1>2+ years of experience working with spring framework sprinboot projects</h1>
        <p></p>
        <div class="flex flex-row justify-start thumb">
            <div>
              <img
                class="rounded-full"
                src="../../../assets/profile-image.jpeg"
                width="40px"
                height="auto"
              />
            </div>
            <div class="flex flex-col thumb-detail">
              <h3>Kamal mohan singh rana</h3>
              <div class="text-normal">
                <time datetime="2023-02-09T21:49:19.398Z">Feb 9, 2023</time>
                <span class="dot"></span>
                <span class="readingTime" title="2 min read"></span>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col db w-full">
      <div class="flex w-full img"></div>
      <div class="flex w-full flex-col detail">
        <h1>2+ years of experience in mysql and postgres db</h1>
        <p></p>
        <div class="flex flex-row justify-start thumb">
            <div>
              <img
                class="rounded-full"
                src="../../../assets/profile-image.jpeg"
                width="40px"
                height="auto"
              />
            </div>
            <div class="flex flex-col thumb-detail">
              <h3>Kamal mohan singh rana</h3>
              <div class="text-normal">
                <time datetime="2023-02-10T21:49:19.398Z">Feb 10, 2023</time>
                <span class="dot"></span>
                <span class="readingTime" title="2 min read"></span>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer flex flex-col justify-between">
    <nav class="flex flex-row footer-list">
        <span class="dot xl"></span>
        <a href="https://facebook.com/kamalrana03">facebook</a>
        <span class="dot xl"></span>
        <a href="https://www.linkedin.com/in/kamal-mohan-singh-rana-27075912a/">linkedIn</a>
        <span class="dot xl"></span>
        <a href="https://api.whatsapp.com/send/?phone=918376857964&text=hi">whatsapp</a>
    </nav>
    <div class="flex flex-col items-center">
      <div class="contact-me flex flex-row items-center">
        <img src="../../../assets/gmail.png" height="20px" width="auto">
        <p class="email-text">kamalrana03@gmail.com</p>
      </div>
    </div>
</footer>
