<div class="a">
    <div class="k">
        <div class="l">
            <div class="flex flex-row">
                <div class="b">
                    <div class="c">
                        <img src="../../assets/profile-image.jpeg">
                    </div>
                </div>
                <div class="flex flex-col justify-between">
                    <div style="font-weight:bold; font-size: 18px;">Kamal mohan singh rana</div>
                    <div class="info">
                        <div class="age">DOB: 3/3/93</div>
                        . Java . Angular
                    </div>
                </div>
            </div>
        </div>
        <div>
            <span class="NQyKp" style="color: #D60024;background: #FFC8C8;" [routerLink]="['overview']" routerLinkActive="Maj6Tc">
                <span class="REySof" style="color: #FFE7E7;">
                    <span style="color: #D60024;">Overview</span>
                </span>
            </span>

            <span class="NQyKp" style="color: #D60024;background: #FFC8C8;" [routerLink]="['blog']" routerLinkActive="Maj6Tc">
                <span class="REySof" style="color: #FFE7E7;">
                    <span style="color: #D60024;">Blog</span>
                </span>
            </span>
          
            
        </div>
    </div>
</div>
<hr style="border: 0.5px solid #dadce0;">
 <router-outlet></router-outlet>