<!-- <div class="XqFnDf srp">
    <div class="MjUjnf">
        <div class="left visible-gt-sm">
            <div class="block">
                <div class="cursor">
                    <div class="JlxBoc">
                        <img class="contain" src="../../assets/profile-image.jpeg">
                    </div>
                </div>
            </div>
        </div> 
        <div class="inline-block">
            <div class="clear-both">
                <div class="yGdMVd">
                    <div class="PyJv1b">
                        <div class="flex flex-row">
                            <div class="PyJv1b">
                                <div class="heading">
                                    Kamal Mohan Singh Rana
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="EGmpye">
                        <div class="wx62f">
                           <div class="zqhAOd">
                            AGE: 29
                           </div>
                           . Java . Angular
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="a">
    <div class="k">
        <div class="l">
            <div class="flex flex-row">
                <div class="b">
                    <div class="c">
                        <img src="../../assets/profile-image.jpeg">
                    </div>
                </div>
                <div class="flex flex-col justify-between">
                    <div style="font-weight:bold; font-size: 18px;">Kamal mohan singh rana</div>
                    <div class="info">
                        <div class="age">DOB: 3/3/93</div>
                        . Java . Angular
                    </div>
                </div>
            </div>
        </div>
        <div>
            <span class="NQyKp" style="color: #D60024;background: #FFC8C8;" [routerLink]="['']">
                <span class="REySof" style="color: #FFE7E7;">
                    <span style="color: #D60024;">Overview</span>
                </span>
            </span>

            <span class="NQyKp" style="color: #D60024;background: #FFC8C8;" [routerLink]="['kamal','blog']">
                <span class="REySof" style="color: #FFE7E7;">
                    <span style="color: #D60024;">Blog</span>
                </span>
            </span>
          
            
        </div>
    </div>
</div>
<hr style="border: 0.5px solid #dadce0;">
 <router-outlet></router-outlet>