:host{
    --font-size:  14px;
}
@media(max-width: 500px){
    :host{
        --font-size: 10px;
    }
}

.a{
    flex: 0 auto;
    padding: 12px 20px;
//    width: calc(var(--center-width) + var(--rhs-margin) + var(--rhs-width));
    margin-left: var(--center-abs-margin);
}
.k{
    height: fit-content;
    overflow:hidden;
    margin: 4px 0px 31px;
    padding-top: 8px;
    position: relative;
    text-align: left;
    margin-bottom: 17px;
}

.l{
    float:left;
    margin-right: 16px;
    text-align: left;
}
.b{
    border-radius: 8px;
    height: 56px;
    margin-right: 19px;
    overflow: hidden;
    position: relative;
    vertical-align: top;
}
.c{
    cursor: pointer;
}
img{
    height: 56px;
    max-width: 56px;
    object-fit: contain;
    overflow-clip-margin: content-box;
}
.age{
    border: 1px solid;
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 11px;
    line-height: 11px;
    margin: 2px 5px 2px 0;
    max-height: 14px;
    padding: 1px 3px 0;
    transform: translateY(-1px);
    flex-grow: 0;
    width: fit-content;
}
.info{
    color: #5F6368;
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.r{
    visibility: inherit;
    text-align: right;
    max-height: 120px;
}

.NQyKp {
    border-radius: 100px;
    cursor: pointer;
    display: inline-block;
    font-size: var(--font-size);
    line-height: 16px;
    margin: 14px 0 6px 8px;
    overflow: hidden;
    text-decoration: none;
    vertical-align: top;
    -webkit-text-size-adjust: none;
}
.REySof {
    background-color: currentColor;
    display: block;
    font-family: Google Sans,arial,sans-serif;
    padding: 12px 20px;
}
.REySof:hover {
    background-color: transparent;
}

.Maj6Tc {
    border: 1px solid currentColor;
}
