:host{
    
}
.iY0Hed {
    flex-shrink: 0;
    margin-right: 12px;
    transition: width 0.4s;
}
.sytfOc {
    border: 1px solid #dadce0;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
}
.M9IC7, .yys4fb, .i4APgb {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.Y37F6d {
    overflow: hidden;
}

.Nco4ue {
    transition: all 0.4s;
}
.w3hBsd {
    width: 100%;
}

.CgpFtc {
    object-fit: cover;
}

.kUzFve {
    height: 100%;
}
.Y37F6d img {
    width: 100%;
    display: block;
}

.M9IC7:hover{
    display: none !important;
    opacity: 0 !important;
}