<div class="iY0Hed" [@expandCollapse]="over?'expand':'collapse'">
    <div class="sytfOc" style="height: 162px;">
        <div>
            <div class="M9IC7 Nco4ue" [@openClose]="over ? 'closed' : 'open'">
            
                <div class="w3hBsd Nco4ue Y37F6d" style="height: 162px;">
                    <img [src]="img.path" class="CgpFtc kUzFve Y37F6d">
                </div>
            </div>
            <div class="yys4fb Nco4ue" [@openClose]="over ? 'open' : 'closed'">
                <div class="Y37F6d" style="height: 162px;width: 362px; opacity: 1 !important; display:block;">
                    <img [src]="img.zPath" class="CgpFtc kUzFve">
                </div>
            </div>
        </div> 
        <div style="position:absolute; z-index: 100; background-color: transparent; width: 100%; height:100%;" (mouseover)="this.over=true;" (mouseout)="this.over=false;">
            
        </div> 
    </div>
</div>

