<div style="padding:10px;" id="">
    <div class="flex flex-row sm:flex-col w-full relative" (click)="click()">
        <div class="flex relative sm:w-full sm:rounded rounded" style="height:280px;overflow:hidden; width: 200px;">
            <div>
                <div style="height: 280px;width:100%;position:absolute;top:-10;">
                    <img src="../../../../assets/template/toa-heftiba-ua9ReZlzcIE-unsplash.jpg" style="width:100%;height:100%;object-fit:cover;">
                </div>
            </div>
        </div>
        <div class="flex flex-col w-full" style="box-sizing:border-box;">
            <div class="flex flex-row justify-between" style="padding: 10px;">
                <h1>Utility Jacket</h1>
                <div class="cost">$100.00</div>
            </div>
            <p style="padding:10px;">In stock</p>
            <ul class="flex flex-row" style="gap: 5px; padding: 10px !important;">
                <li>
                    <span>XS</span>
                </li>
                <li>
                    <span>S</span>
                </li>
                <li>
                    <span>M</span>
                </li>
                <li>
                    <span>L</span>
                </li>
                <li>
                    <span>XL</span>
                </li>
            </ul>
            <div style="padding: 10px;">
                <hr>
            </div>
            <div class="flex flex-row justify-between sm:hidden visible" style="gap:10px; padding: 10px;">
                <div class="flex flex-row" style="gap:5px;">    
                    <button class="text-white bg-black" style="width:fit-content">Buy now</button>
                    <button class="bg-white text-black ">Add to bag</button>
                </div>
                <div class="flex flex-row">
                    <button>Like</button>
                </div>
            </div>
            <div class="flex flex-col sm:visible hidden" style="gap: 10px">
                <div class="w-full">
                    <button class="text-white bg-black w-full">Buy now</button>
                </div>
                <div class="flex flex-row justify-between">
                    <button class="bg-white text-black ">Add to bag</button>
                    <button>Like</button>
                </div>
            </div>
            <div style="padding:10px;" class="flex flex-row justify-between">
                <div>
                    Free shipping on all continental US orders.
                </div>
                
            </div>
        </div>
        
    </div>
</div>