/* You can add global styles to this file, and also import other style files */
@import '@angular/cdk/overlay-prebuilt.css';

body {
    margin: 0px;
}
.absolute{
    position:absolute;
}
.relative{
    position: relative;
}
.top-0{
    top: 0;
}
.left-0{
    left: 0;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.justify-start {
    justify-content: start;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}
.justify-around{
    justify-content: space-around;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: start;
}
.items-end{
    align-items: end;
}
.w-full {
    width: 100%;
}

.h-full {
    height: 100vh;
}
.h-20{
    height: 5rem;
}
.mt-8{
    margin-top: 2rem;
}
.rounded-full {
    border-radius: 50%;
}

.text-center {
    text-align: center;
}
.font-white{
    color: #fff;
}


:root {
    --font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}

.border-box {
    box-sizing: border-box;
}

.srp {
    --center-abs-margin: 180px;
    --center-width: 652px;
    --rhs-margin: 60px;
    --rhs-width: 369px;
}

@media (max-width: 1300px) {
    .srp {
        --rhs-margin: 44px;
    }
}

@media (max-width: 1121px) {
    .srp {
        --center-abs-margin: 28px;
    }
}



.token.class-name, .token.function, .token.selector, .token.selector .class, .token.selector.class, .token.tag {
    --tw-text-opacity: 1;
    color: rgb(244 114 182/var(--tw-text-opacity)) !important;
}
.token .punctuation{
    --tw-text-opacity: 1;
    color: rgb(100 116 139/var(--tw-text-opacity)) !important;
}
.token.attr-name, .token.important, .token.keyword, .token.pseudo-class, .token.rule {
    --tw-text-opacity: 1;
    color: rgb(203 213 225/var(--tw-text-opacity)) !important;
}
.token.attr-value, .token.class, .token.string {
    --tw-text-opacity: 1;
    color: rgb(125 211 252/var(--tw-text-opacity)) !important;
}

.code-highlight {
    border-radius: 0.25rem;
    padding: 0.125rem 0.1875rem;
    margin: 0 -0.1875rem;
    
}
.text{
    --tw-text-opacity: 1;
    color: rgb(248 250 252/var(--tw-text-opacity));
}