pre{
    --tw-bg-opacity: 1;
    background-color: rgb(30 41 59/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(248 250 252/var(--tw-text-opacity));
    margin: 0px !important;
}
.tab{
    height: var(--mdc-tab-height, 48px);
    margin-left: 0px;
    margin-right: 0px;
    padding-right: var(--mdc-tab-horizontal-padding, 24px);
    padding-left: var(--mdc-tab-horizontal-padding, 24px);

    min-width: 90px;
    padding: 0px 24px;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    box-sizing: border-box;
    margin: 0px;
    border: none;
    outline: none;
    background: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    appearance: none;
    z-index: 1;

    -webkit-font-smoothing: antialiased;
    font-family: var(--mdc-typography-button-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
    font-size: var(--mdc-typography-button-font-size, 0.875rem);
    line-height: var(--mdc-typography-button-line-height, 2.25rem);
    font-weight: var(--mdc-typography-button-font-weight, 500);
    letter-spacing: var(--mdc-typography-button-letter-spacing, 0.0892857em);
    text-decoration: var(--mdc-typography-button-text-decoration, none);
    text-transform: var(--mdc-typography-button-text-transform, uppercase);
    position: relative;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    pointer-events: none;
}
.active .icon{
    color: var(--mdc-theme-primary, #6200ee);
    fill: currentcolor;
    transition-delay: 100ms;
}
.active .label{
    color: var(--mdc-theme-primary, #6200ee);
    fill: currentcolor;
    transition-delay: 100ms;
}
.icon{
    color: rgba(0, 0, 0, 0.54);
    fill: currentcolor;
    width: 24px;
    height: 24px;
    font-size: 24px;
}
.icon + .label{
    padding-left: 8px;
    padding-right: 0px;
}
@media(max-width: 500px){
    .label{
        display: none;
    }
}