:host{
    display: block;
    position:relative;
}

.mR2gOd {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;
    transform: translate3d(0,0,0);
}
.DAVP1 {
    display: inline-block;
}

.aw7ZUb {
    display: flex;
    max-width: 1076px;
    transform: translateX(-134px);
}

.Odedld {
    flex-shrink: 0;
    height: 162px;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.4s;
    width: 134px;
}



.mR2gOd::-webkit-scrollbar {
    display: none;
}

.mR2gOd::-webkit-scrollbar {
    display: none;
}
.M9IC7:hover{
    display: none !important;
    opacity: 0 !important;
}
