<div style="margin: 10px;">
    <product-detail #pd></product-detail>
    <div style="margin-top: 10px;" class="code-highlight ">
        <div class="relative w-full flex flex-row border-box bg-slate-800 text-center font-white rounded-top" style="padding: 3px 0px">
            <div class="flex flex-row items-center" style="gap:5px;">
                <div class="w h" style="border-radius:50%; border:0px; background-color: red;margin-left:5px;"></div>
                <div class="w h" style="border-radius:50%; background-color: yellow;"></div>
                <div class="w h" style="border-radius:50%; background-color: green;"></div>
            </div>
           <div class="flex justify-center items-center w-full">
            {{fileName}}
           </div>
        </div>
    </div>
    <div>
        
        <pre style="overflow:scroll; width: 100%;" class="flex bg-slate-800 text-slate-600">
            <div style="font-size: 10.4px;margin:0px; padding:0px; line-height:.9; margin-right:10px; padding-top:8px;">
            
            
            </div>
            <code class="text">
                <div [htmlText]="productDetail">

                </div>
               
            </code>
        </pre>
    </div>
</div>

<div style="margin:10px">
    <div style="margin-top: 10px;" class="code-highlight ">
        <div class="relative w-full flex flex-row border-box bg-slate-800 text-center font-white rounded-top" style="padding: 3px 0px">
            <div class="flex flex-row items-center" style="gap:5px;">
                <div class="w h" style="border-radius:50%; border:0px; background-color: red;margin-left:5px;"></div>
                <div class="w h" style="border-radius:50%; background-color: yellow;"></div>
                <div class="w h" style="border-radius:50%; background-color: green;"></div>
            </div>
           <div class="flex justify-center items-center w-full">
             product-detail-summary.css
           </div>
        </div>
    </div>
    <div>
        <pre style="overflow:scroll; width: 100%;" class="flex bg-slate-800 text-slate-600">
            <div style="font-size: 10.4px;margin:0px; padding:0px; line-height:.9; margin-right:10px; padding-top:8px;">
            
            
            </div>
            <code class="text">
                <c-product-detail></c-product-detail>
               
            </code>
        </pre>
        
    </div>
</div>